* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3vw;
    gap: 5vw;
}

.score {
    font-size: 5vw;
}

.players {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3vw;
    text-align: center;
    font-size: 4vw;
}

.name {
    font-size: 1vw;
}

.card {
    padding: 1vw;
    box-shadow: 0 0 0.5vw 0 black;
    border-radius: 1vw;
}

img {
    height: 5vw;
    width: 5vw;
}